@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'DM Serif Display', ui-serif, Georgia, serif;
  --font-cinzel: 'Cinzel', ui-serif, Georgia, serif;
}
